<footer>
    <div>
        <img src="img/logo.svg" alt="logo">
        <h2>Navigeren</h2>
        <ul>
            <li><a href="#about">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#work">My work</a></li>
            <li><a href="#experience">Experiences</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <h2>Social media</h2>
        <ul>
            <li><a href="https://www.instagram.com/xiaonanpols21/"><img src="img/i-instagram.svg" alt="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/xiao-nan-pols-b839951b5/"><img src="img/i-linkedin.svg" alt="Linkedin"></a></li>
        </ul>
        <p>© 2021 XIAO | All rights reserved</p>
    </div>
</footer>