<nav class="mobile-nav">
    <i id="menu-cross" class="fa-solid fa-xmark"></i>
    <ul>
        <li><a href="/#about"><i class="fa-solid fa-user"></i>About me</a></li>
        <li><a href="/#skills"><i class="fa-solid fa-code"></i>Skills</a></li>
        <li><a href="/#work"><i class="fa-solid fa-paintbrush"></i>My work</a></li>
        <li><a href="/#experience"><i class="fa-solid fa-laptop"></i>Experiences</a></li>
        <li><a href="/#contact"><i class="fa-solid fa-envelope"></i>Contact</a></li>
    </ul>
</nav>