<header class="sticky-header-2">
    <div>
        <a href="/"><img src="../img/logo.svg" alt="logo"></a>
        <nav id="menu-bars">
            <i class="fa-solid fa-bars"></i>
            <ul>
                <li><a href="#about">About me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#work">My work</a></li>
                <li><a href="#experience">Experiences</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>