.main-mywork {
    @include flex(column, 50px);
    margin-top: calc(50px + 93.5px);
    padding: 20px;
}

h1 {
    @include font34;
    margin-left: calc(23px + 30px);

    &:before {
        position: absolute;
        left: 20px;
        content: "";
        background-image: url(../img/i-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 23px;
        height: 40px;
    }
}

.slider {
    & > img:first-of-type {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        object-fit: $cover;
        border-radius: $border20;
        box-shadow: $box-shadow-basic;
    }

    div {
        @include grid-clmn(1fr 1fr 1fr, 15px);
        width: 100%;

        img {
            width: 100%;
            height: 100px;
            object-fit: $cover;
            border-radius: $border20;
            box-shadow: $box-shadow-basic;
        }
    }
}

.alert {
    h2 {
        @include font18;
        margin: 0px 0px 20px 0px;
    }

    a {
        @include btn-1;
        display: block;
        color: $purple-dark-1;
        text-align: center;
    }
}

.work-intro {
    h3 {
        @include font16;
        margin: 10px 0px 0px 0px;
    }
}

.wat-gedaan {
    @include flex(column, 20px);

    h2 {
        @include font26;
        margin: 0px 0px -10px 0px;
    }
}