
h2 {
    @include font34;
    margin-bottom: 30px;
    margin-left: calc(40px + 20px);
}

h3 {
    @include font26;
    margin-bottom: 10px;
}

.s-title::before {
    position: absolute;
    left: 20px;
    content: "";
    background-image: url(../img/i-user.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

// About
.s-about {
    position: relative;
    padding: 100px 20px 0px 20px;

    & > p:last-of-type {
        margin: 20px 0px 50px 0px;
    }
}

// Skills
.s-skills {
    position: relative;
    margin-top: 100px;
    padding: 0px 20px 0px 20px;
    background-color: rgba($purple-light, 0.1);

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        content: "";
        background: $purple-gradient-before;
        height: 100px;
    }

    &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        content: "";
        background: $purple-gradient-after;
        height: 100px;
    }

    .s-title::before {
        background-image: url(../img/i-code.svg);
        height: 47px;
        width: 58px;
    }

    h2 {
        margin-bottom: 0px;
        margin-left: calc(58px + 20px);
        padding-bottom: 30px;
    }
}

// Circle bar
.skill-group {
    @include justflex(center);
    gap: 20px;
    flex-wrap: wrap;

    // Percent with Css
    article:first-of-type .circle-bg { // Wordpress
        background-image: conic-gradient($purple-dark-2 144deg, $blue-light 0deg);
    }

    article:nth-of-type(2) .circle-bg { // JS
        background-image: conic-gradient($purple-dark-2 144deg, $blue-light 0deg);
    }

    article:nth-of-type(3) .circle-bg { // PS, IND, AI
        background-image: conic-gradient($purple-dark-2 288deg, $blue-light 0deg);
    }

    // PRO AE is al 50%

    article:nth-of-type(5) .circle-bg { // Adobe XD
        background-image: conic-gradient($purple-dark-2 288deg, $blue-light 0deg);
    }

    article:nth-of-type(6) .circle-bg { // HTML CSS
        background-image: conic-gradient($purple-dark-2 288deg, $blue-light 0deg);
    }

    article:nth-of-type(7) .circle-bg { // EJS
        background-image: conic-gradient($purple-dark-2 36deg, $blue-light 0deg);
    }

    article:nth-of-type(8) .circle-bg { // Node, Express
        background-image: conic-gradient($purple-dark-2 36deg, $blue-light 0deg);
    }

    // Sass is al 50%

    // 1 word title center
    article:nth-of-type(7) h4, article:last-of-type h4  {
        grid-auto-columns: auto;
    }
}

.circle-bg {
    position: relative;
    width: 157px;
    height: 157px;
    background-image: conic-gradient($purple-dark-2 180deg, $blue-light 0deg);
    border-radius: 50%;
    box-shadow: $box-shadow-basic;
}

.circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 141px;
    height: 141px;
    background-color: $white;
    border-radius: 50%;
    text-align: center;

    div {
        @include flex(column, 5px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        height: 45px;
    }

    p {
        @include font18;
        font-weight: bold;
    }

    h4 {
        display: grid;
        grid-auto-columns: max-content;
        font-weight: normal;
    }
}
