
h2 {
    @include font34;
    margin-bottom: 30px;
    margin-left: calc(40px + 20px);
}

h3 {
    @include font26;
    margin-bottom: 10px;
}

.s-title::before {
    position: absolute;
    left: 20px;
    content: "";
    background-image: url(../img/i-user.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

// About
.s-about {
    position: relative;
    padding: 100px 20px 0px 20px;

    & > p:last-of-type {
        margin: 20px 0px 50px 0px;
    }
}

// Skills
.s-skills {
    position: relative;
    margin: 100px 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba($purple-light, 0.1);

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        content: "";
        background: $purple-gradient-before;
        height: 100px;
    }

    &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        content: "";
        background: $purple-gradient-after;
        height: 100px;
    }

    .s-title::before {
        background-image: url(../img/i-code.svg);
        height: 40px;
        width: 51px;
    }

    h2 {
        margin-bottom: 0px;
        margin-left: calc(51px + 20px);
        padding-bottom: 30px;
    }
}

// My work
.s-work {
    padding: 0px 20px 0px;

    .s-title::before {
        background-image: url(../img/i-brush.svg);
    }
}

// My experience
.s-experience {
    position: relative;
    margin: 100px 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba($pink-light-2, 0.1);

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        content: "";
        background: $pink-gradient-before;
        height: 100px;
    }

    &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        content: "";
        background: $pink-gradient-after;
        height: 100px;
    }

    .s-title::before {
        background-image: url(../img/i-laptop.svg);
        height: 40px;
        width: 57px;
    }

    h2 {
        margin-left: calc(57px + 20px);
    }
}

// Contact
.s-contact {
    position: relative;
    margin: 20px;
    padding: 30px;
    background-color: $pink-light;
    border-radius: 20px;
    height: 520px;

    .s-title::before {
        background-image: url(../img/i-mail.svg);
        height: 40px;
        width: 53px;
        left: 30px;
    }

    h2 {
        margin-left: calc(53px + 20px);
    }

    ul {
        @include font16;

        li {
            margin: 15px 0px;
            margin-left: calc(36px + 20px);

            &:before {
                position: absolute;
                left: 30px;
                content: "";
                background-image: url(../img/i-location.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 23px;
                height: 30px;
            }

            &:nth-of-type(2):before {
                background-image: url(../img/i-mail.svg);
                width: 36px;
                height: 27px;
            }

            &:last-of-type:before {
                background-image: url(../img/i-mobile.svg);
                width: 21px;
                height: 30px;
            }
        }
    }

    img {
        position: absolute;
        width: 324px;
        right: 0;
        bottom: -50px;
    }
}