.s-work {
    position: relative;

    img {
        order: -1;
        width: 100%;
        height: 166px;
        border-radius: 20px;
        box-shadow: $box-shadow-basic;
        object-fit: $cover;
    }

    h4 {
        @include font24;
    }

    h5 {
        @include font16;
    }

    p {
        margin-top: -10px;
    }

    a {
        color: $black;
    }

    section {
        padding: 20px 10px;
        height: 550px;
        border-radius: $border20;
        background-color: rgba($purple-light, 0.25);

        div {
            @include flex(column, 10px);
            height: 510px;
            overflow-y: scroll;
        }
    }

    article {
        @include flex(column, 10px);
        padding: 20px;
        margin: 10px;
        border-radius: $border20;
        background-color: $pink-light;
        box-shadow: $box-shadow-basic;
    }

    & > div {
        @include flex(column, 10px);
        position: absolute;
        right: 40px;
        bottom: 20px;
    }

    button {
        padding: 15px;
        width: 90px;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color: $blue-dark;
        color: $white;

        i {
            font-size: 20px;
        }
    }
}