@import "../../../styles/variables.scss";

.ul {
    @include flex(row, 1.25rem);

    li {
        list-style: none;
    }

    a {
        @include flex(row, 0px);
        @include f16;
        text-decoration: none;
        color: $black;

        &:hover span {
            display: inline;
        }

        img {
            padding: 1rem;
            width: 60px;
            height: 60px;
            background-color: $pink;
            border-radius: 50px;
            border: 1px solid $black;
            box-shadow: 3px 3px 0px 0px $black;
        }

        span {
            display: none;
            padding: 1rem 1.875rem 1rem 3.125rem; // 30px
            margin-left: -30px;
            background-color: rgba($pink, 0.1);
            border-radius: 0px 50px 50px 0px;

        }

    }
}