@import "../../styles/variables.scss";

.section {
    @include flex(column, 1.875rem); // 30px
    margin-top: 4.188rem + 1.875rem; // 67px 30px
    padding: 1.25rem;

    h1 {
        @include f58;
        line-height: 3.125rem; // 50px
        text-transform: uppercase;
    }
}

.headerContent {
    @include flex(column, 1.25rem);

    p {
        &:first-of-type {
            @include f14;
            font-style: italic;
            margin: -0.625rem 0px 0.625rem 0px;
        }

        &:last-of-type {
            @include f18;
        }
    }

    button {
        @include btn1;
        margin-top: 1.875rem; // 30px
    }
}

@media (min-width: 576px) { 
    .headerContent {
        @include max550;

       button {
        width: fit-content;
       }
    }
}

@media (min-width: 992px) { 
    .section {
        @include gridClmn(1fr 1.5fr, 1.875rem 5.625rem); // 90px
        @include max1300;
        margin-top: 6.063rem;
        padding: 1.25rem 3.125rem;
    }

    .headerContent {
        grid-column-start: 1;
        grid-row-start: 2;

        p {
            &:first-of-type {
                @include f16;
            }

            &:last-of-type {
                @include f20;
            }
        }
    }
}

@media (min-width: 1300px) { 
    .headerContent {
        h1 {
            font-size: 5.625rem; // 90px
            line-height: 5rem; // 80px
        }
    }

}