@import "../../styles/variables.scss";

.section {
    @include flex(column, 30px);
    margin-top: 4.188rem + 1.875rem; // 67px 30px
    padding: 1.25rem;

    h1 {
        @include f58;
        line-height: 3.125rem; // 50px
        text-transform: uppercase;
    }
}

.headerContent {
    @include flex(column, 1.25rem);

    p {
        &:first-of-type {
            @include f14;
            font-style: italic;
            margin: -0.625rem 0px 0.625rem 0px;
        }

        &:last-of-type {
            @include f18;
        }
    }

    button {
        @include btn1;
        margin-top: 1.875rem; // 30px
    }
}

@media (min-width: 576px) { 
    .headerContent {
        max-width: 550px;
        margin: auto;

       button {
        width: fit-content;
       }
    }
}