@import "./variables";
@import "./breakpoints";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} 

body {
    background-color: rgba($pink, 0.1);
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p {
	@include f16;
}