// Colors
$black: #22162A;
$dark-purple: #461F56;
$purple: #724D90;
$pink: #E54E6D;
$yellow: #F8C631;
$blue: #1DA0F2;
$white: #FFFFFF;

// Variables
$box-shadow: 2px 2px 0px 0px $black;
$box-shadow-5: 5px 5px 0px 0px $black;

// Font
$font-stack: "Poppins", sans-serif;

@mixin f14 {
    font-size: 0.875rem; // 14px
    line-height: 1.438rem; // 23px
}

@mixin f16 {
    font-size: 1rem; // 16px
    line-height: 1.75rem; // 28px
}

@mixin f18 {
    font-size: 1.125rem; // 18px
    line-height: 1.875rem; // 30px
}

@mixin f20 {
    font-size: 1.25rem; // 20px
    line-height: 2.063rem; // 33px
}

@mixin f24 {
    font-size: 1.5rem; // 24px
    line-height: 2.5rem; // 40px
}

@mixin f58 {
    font-size: 3.625rem; // 58 px
    line-height: 4.313rem; // 69px
}

// Flex
@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin justify($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

// Grid
@mixin gridClmn($clmns, $gap) {
    display: grid;
    grid-template-columns: $clmns;
    gap: $gap;
}

// Btns
@mixin btn1 {
    @include f18;
    font-family: $font-stack;
    font-weight: bold;
    color: $white;
    padding: 1.25rem 1.875rem;
    background-color: $purple;
    border: 1px solid $white;
    border-radius: 0.625rem; // 10px
    box-shadow: $box-shadow-5;
}

@mixin max1300 {
    max-width: 81.25rem;
    margin: auto;
}

@mixin scrollGone() {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    & {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    // Bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
    
}