// Colors
$black: #22162A;
$dark-purple: #461F56;
$purple: #724D90;
$pink: #E54E6D;
$yellow: #F8C631;
$blue: #1DA0F2;
$white: #FFFFFF;

// Variables
$box-shadow: 2px 2px 0px 0px $black;
$box-shadow-5: 5px 5px 0px 0px $black;

// Font
@mixin f14 {
    font-size: 0.875rem; // 14px
    line-height: 1.438rem; // 23px
}

@mixin f16 {
    font-size: 1rem; // 16px
    line-height: 1.75rem; // 28px
}

@mixin f18 {
    font-size: 1.125rem; // 18px
    line-height: 1.875rem; // 30px
}

@mixin f24 {
    font-size: 1.5rem; // 24px
    line-height: 2.5rem; // 40px
}

// Fex
@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin justify($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}