@import "../../styles/variables.scss";

.section {
    margin: 60px -20px 0px -20px;

    h2 {
        padding-left: 20px;
    }

    section {
        @include flex(row, 20px);
        overflow-x: scroll;
        padding: 20px 20px 5px 20px;

        @include scrollGone;
    }
    
    article {
        @include flex(column, 10px);
        position: relative;
        padding: 10px 10px 20px 10px;
        border: 1px solid $black;
        border-radius: 10px;
        background-color: $white;
        box-shadow: $box-shadow-5;
    }

    h3 {
        @include f14;
    }

    img {
        order: -1;
        width: 140px;
        height: 125px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.label {
    position: absolute;
    right: 0px;
    top: 0px;

    input {
        position: absolute;
        opacity: 0;

        &:checked + span {
            background-image: url("../../../public/img/icons/bookmark-fill.svg");
        }
    }

    span {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 19px;
        height: 25px;
        background-image: url("../../../public/img/icons/bookmark-solid.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
}