@import "../../styles/variables.scss";

.section {
    margin-top: 40px;

    section {
        @include flex(row, 20px);
        overflow-x: scroll;
        margin: 0px -20px;
        padding: 20px 20px 5px 20px;

        @include scrollGone;
    }
    
    article {
        @include flex(column, 10px);
        position: relative;
        padding: 10px 10px 20px 10px;
        border: 1px solid $black;
        border-radius: 10px;
        background-color: $white;
        box-shadow: $box-shadow-5;
    }

    h3 {
        @include f14;
    }

    img {
        order: -1;
        width: 140px;
        height: 125px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.label {
    position: absolute;
    right: 0px;
    top: 0px;

    input {
        position: absolute;
        opacity: 0;

        &:checked + span {
            background-image: url("../../../public/img/icons/bookmark-fill.svg");
        }
    }

    span {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 19px;
        height: 25px;
        background-image: url("../../../public/img/icons/bookmark-solid.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 576px) { 
    .section {
        @include max550;
        margin-top: 40px;

        section {
            padding: 20px 5px 5px 0px;
            margin: 0px;
        }
    }
}

@media (min-width: 992px) { 

    .section {
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 100%;
        margin: 70px 0px 0px 0px;

        section {
            padding-right: 20px;
        }

        img {
            width: 230px ;
        }
    }
}