<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/"><h1>BTS Date</h1></a>
            <section class="slider">
                <a id="head-img-1" href="img/w-bts.jpg" target="_blank"><img class="head-foto" src="img/w-bts.jpg" alt="BTS"></a>
                <a id="head-img-2" href="pdf/bts.pdf" target="_blank"><img class="head-foto" src="img/w-bts-2.jpeg" alt="BTS"></a>
                <a id="head-img-3" href="img/w-bts-3.gif" target="_blank"><img class="head-foto" src="img/w-bts-3.gif" alt="BTS"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-bts.jpg" alt="BTS">
                    <img id="img-btn-2" src="img/w-bts-2.jpeg" alt="BTS">
                    <img id="img-btn-3" src="img/w-bts-3.gif" alt="BTS">
                </div>
            </section>
            <section class="alert">
                <a href="https://oege.ie.hva.nl/~polsxn/bts-finale/" target="_blank">Open Live Demo</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Website bouwen</p>
                <h3>Doel</h5>
                <p>Product werkend maken op basis van de Intenetstandaarden.</p>
                <h3>Programma's</h5>
                <ul>
                    <li>Adobe XD</li>
                    <li>Html Css</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Ik heb een website gemaakt waarbij fans (ARMY) van <a href="https://nl.wikipedia.org/wiki/BTS_(band)">BTS</a> op date kunnen gaan met 1 van de leden. Je kiest 1 bandlid en een pakket en je droom zal in vervulling gaan. Ikzelf ben fan (ARMY) van BTS waardoor het een leuke opdracht voor mij was.</p>
                <p>Mijn designs zijn eerst in Adobe XD gemaakt voordat ik het ging programmeren. Ik was blij met het eindresultaat. Doordat ik al kennis had van HTML CSS wist ik de basis en heb ik mijn kennis alleen maar kunnen verbreden.De opdracht was om een ontwerpproces te doorlopen waarbij je alleen de website ging ontwerpen. Ik koos ervoor om de website ook werkend te maken. Daardoor daagde ik mezelf uit. Op het MBO kreeg ik geen les Internetstandaarden waardoor ik mezelf ‘programmeren’ moest aanleren. Dit heeft mij onder andere gemotiveerd om door te studeren.</p>
            </section>
        </div>
    </main>
    <%- include('../partials/footer-single'); %>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>