<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/"> <h1>E.body (Masterpiece Winnaar)</h1></a>
            <section class="slider">
                <a id="head-img-1" href="img/w-eboy.jpg" target="_blank"><img class="head-foto" src="img/w-eboy.jpg" alt="Eboy"></a>
                <a id="head-img-2" href="https://www.youtube.com/watch?v=pQxJw6DPrDs&t=2s&ab_channel=XIAO" target="_blank"><img class="head-foto" src="img/w-eboy-2.jpg" alt="Eboy"></a>
                <a id="head-img-3" href="img/w-eboy-3.jpg" target="_blank"><img class="head-foto" src="img/w-eboy-3.jpg" alt="Eboy"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-eboy.jpg" alt="Eboy">
                    <img id="img-btn-2" src="img/w-eboy-2.jpg" alt="Eboy">
                    <img id="img-btn-3" src="img/w-eboy-3.jpg" alt="Eboy">
                </div>
            </section>
            <section class="alert">
                <a href="https://xd.adobe.com/view/1f0126ab-c65a-4031-64a5-f5361f3616a7-6930/screen/31073169-ff41-4785-9945-4982a6c76f10/?fullscreen&hints=off" target="_blank">Open Live Demo</a>
                <a href="https://oege.ie.hva.nl/~polsxn/eboy/" target="_blank">Zie website</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Een app ontwerpen</p>
                <h3>Doel</h5>
                <p>Ontwerpproces doorlopen (Schetsen, Testen, Design)</p>
                <h3>Programma's</h5>
                <ul>
                    <li>Adobe XD</li>
                    <li>Invision</li>
                    <li>After Affects</li>
                    <li>Html Css</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Ik heb een webshop app bedacht voor de mannen, E.boy. Met deze app kunnen gebruikers kleren passen om te zien hoe de kleding hun staat voordat ze het gaan kopen. Dit doen zij met de functie ‘mijn paspop’. Ik liep een ontwerpproces door waarbij ik onderzoek ging doen op de doelgroep tot het testen met mijn gebruikers.</p>
                <p>"Uit deze opdracht heb ik geleerd dat brainstormen met je doelgroep zorgt voor de geweldigste ideeën. Als designer doe je kennis op waardoor je weet wat wel en niet kan. Met de ervaringen van je doelgroep kom je steeds verder op creatief vlak. Met dat inzicht ben ik dat ook gaan doen met andere projecten en heb ik goede concepten kunnen bedenken.</p>
                <p>Voor ‘Masterpiece’ ging ik naar mijn toen toekomstige stagebedrijf <a href="https://www.brickzero.com/">Brick Zero.</a> De opdracht was om een website te maken. Ik mocht zelf het onderwerp kiezen waardoor ik ervoor koos om een website te maken voor mijn E.boy app. Met vol enthousiasme presenteerde ik mijn werk en kreeg ik de beker: ‘Masterpiece van het jaar’.</p>
            </section>
        </div>
    </main>
    <%- include('../partials/footer-single'); %>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>