<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/"><h1>Festivala</h1></a>
            <section class="slider">
                <a id="head-img-1" href="img/w-festivala.jpg" target="_blank"><img class="head-foto" src="img/w-festivala.jpg" alt="Chingu"></a>
                <a id="head-img-2" href="img/w-festivala-2.jpg" target="_blank"><img class="head-foto" src="img/w-festivala-2.jpg" alt="Chingu"></a>
                <a id="head-img-3" href="pdf/festivala.pdf" target="_blank"><img class="head-foto" src="img/w-festivala-3.jpg" alt="Chingu"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-festivala.jpg" alt="Chingu">
                    <img id="img-btn-2" src="img/w-festivala-2.jpg" alt="Chingu">
                    <img id="img-btn-3" src="img/w-festivala-3.jpg" alt="Chingu">
                </div>
            </section>
            <section class="alert">
                <a href="https://xd.adobe.com/view/31047fe2-4bc0-4a20-6195-809ab213b18a-4735/screen/81856f93-2a8a-426e-b10e-4baa546c4bdf/?fullscreen&hints=off" target="_blank">Open Live Demo</a>
                <a href="https://www.youtube.com/watch?v=u0AElN-7Nv8&ab_channel=XIAO" target="_blank">Reclame video</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Examen: Festival site die culturen samenbrengen</p>
                <h3>Doel</h5>
                <p>Ontwerpproces doorlopen (Schetsen, Testen, Design) en onderzoeken (van sitemap tot hosting)</p>
                <h3>Programma's</h5>
                <ul>
                    <li>Adobe XD</li>
                    <li>Html Css</li>
                    <li>After Affects</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Voor mijn examen op het MBO heb ik een website ontworpen die culturen met elkaar samenbrengen. Ik liep een ontwerpproces door waarbij ik onderzoek ging doen op de doelgroep tot het testen met mijn gebruikers <a href="https://www.youtube.com/watch?v=zHqv42k7VGs&ab_channel=XIAO">(A/B Test).</a> Ontwerpen voor een festival is niet mijn sterkste punt omdat ikzelf niet veel naar festivals ga. Maar toen ik er eenmaal voor ging ontwerpen, had ik mijn plekje gevonden en vond ik het juist leuk om te ontwerpen voor een festival. Ik vind het leuk om mij in te leven in andermans cultuur waardoor het leuk werd om culturen samen te brengen.</p>
                <p>De opdracht was om een ontwerpproces te doorlopen waarbij je alleen de website ging ontwerpen. Ik koos ervoor om de website ook werkend te maken. Daardoor daagde ik mezelf uit. Op het MBO kreeg ik geen les Internetstandaarden waardoor ik mezelf ‘programmeren’ moest aanleren. Dit heeft mij onder andere gemotiveerd om door te studeren. (Helaas is de gemaakte website niet meer terug te vinden)</p>
            </section>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>