<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/"><h1>Mojo</h1></a>
            <section class="slider">
                <a id="head-img-1" href="img/w-mojo.jpg" target="_blank"><img class="head-foto" src="img/w-mojo.jpg" alt="Mojo"></a>
                <a id="head-img-2" href="img/w-mojo-2.jpg" target="_blank"><img class="head-foto" src="img/w-mojo-2.jpg" alt="Mojo"></a>
                <a id="head-img-3" href="img/w-mojo-3.gif" target="_blank"><img class="head-foto" src="img/w-mojo-3.gif" alt="Mojo"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-mojo.jpg" alt="Mojo">
                    <img id="img-btn-2" src="img/w-mojo-2.jpg" alt="Mojo">
                    <img id="img-btn-3" src="img/w-mojo-3.gif" alt="Mojo">
                </div>
            </section>
            <section class="alert">
                <h2>Open in Google Chrome voor betere ervaring</h2>
                <a href="https://oege.ie.hva.nl/~polsxn/mojo/" target="_blank">Open Live Demo</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Herontwerp MOJO: Japanese Kitchen</p>
                <h3>Doel</h5>
                <p>Verbeterde design skills laten zien en design werkend maken</p>
                <h3>Programma's</h5>
                <ul>
                    <li>Sketch</li>
                    <li>Illustrator</li>
                    <li>After Affects</li>
                    <li>Html Css</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Ik heb een herontwerp gemaakt voor MOJO waarbij ik de tekeningen en animaties zelf heb ontworpen. Ik vond het heel leuk om deze opdracht te doen. Met deze opdracht heb ik mijn teken skills kunnen opfrissen, al van kleins af aan houd ik van tekenen (zie Instagram). Ik was al bekend met illustraties en animaties maken maar ik heb nu voor het eerst GIFs gemaakt voor dit project. Zelf houd ik van sushi en ben bekend met de Aziatische cultuur. Dus ik voelde mij als ‘vis’ in het water met deze opdracht.</p>
                <p>Kennis die ik heb opgedaan op mijn eerste webdesign stage, <a href="https://www.brickzero.com/">Brick Zero,</a> heb ik toe kunnen passen op dit design. Designen deed ik in Sketch (het bedrijf gebruikt die tool). Zij leerden mij designen met een styleguide (document om consistent te blijven). Tot op de dag van vandaag gebruik ik ook een styleguide bij het maken van een interface. Door Brick Zero schoot mijn design skills van 30% naar 90%.</p>
            </section>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>