<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <header>
        <header class="sticky-header sticky-header-2">
            <div>
                <a href="index.html"><img src="img/logo.svg" alt="logo"></a>
                <nav id="menu-bars">
                    <i class="fa-solid fa-bars"></i>
                    <ul>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#">My work</a></li>
                        <li><a href="#">Experiences</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </header>
    
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js.js"></script>
</body>
</html>