<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/#work"> <h1>Xiaoco Ijs</h1></a>
            <section class="slider">
                <h2 class="visually-hidden">Img slider</h2>
                <a id="head-img-1" href="img/w-xiaocoijs.jpg" target="_blank"><img class="head-foto" src="img/w-xiaocoijs.jpg" alt="Xiaocoijs"></a>
                <a id="head-img-2" href="pdf/xiaocoijs.pdf" target="_blank"><img class="head-foto" src="img/w-xiaocoijs-2.jpg" alt="Xiaocijs"></a>
                <a id="head-img-3" href="https://www.youtube.com/watch?v=lEHniuh87_g&ab_channel=XIAO" target="_blank"><img class="head-foto" src="img/w-xiaocoijs-3.jpg" alt="Xiaocoijs"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-xiaocoijs.jpg" alt="Xiaocoijs">
                    <img id="img-btn-2" src="img/w-xiaocoijs-2.jpg" alt="Xiaocoijs">
                    <img id="img-btn-3" src="img/w-xiaocoijs-3.jpg" alt="Xiaocoijs">
                </div>
            </section>
            <section class="alert">
                <h2>Open in Google Chrome voor betere ervaring</h2>
                <a href="https://xiaonanpols21.github.io/SRP-Xiao-Ijs-Front-end/">Open Live Demo</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Xiaoco Ijs interface ontwerpen en bouwen</p>
                <h3>Doel</h3>
                <p>Een applicatie maken waarbij er een database is die wordt bewerkt d.m.v de gebruiker</p>
                <h3>Programma's</h3>
                <ul>
                    <li>Adobe XD</li>
                    <li>In Design</li>
                    <li>After Affects</li>
                    <li>Html Css</li>
                    <li>JavaScript</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Met dit project heb ik een interface gemaakt waarbij gebruikers hun eigen Xiaoco Ijs kunnen samenstellen. Ik liep een ontwerpproces door waarbij ik onderzoek ging doen op de doelgroep tot het testen met mijn gebruikers <a href="https://www.youtube.com/watch?v=wpZn1_iJiaw&feature=youtu.be&ab_channel=XIAO"> (A/B Test).</a> Xiaocola was de eerste opdracht wat ik maakte als naam titel. Xiaoco Ijs is de volgende opdracht. Ik wil gewoon alles opnieuw ontwerpen en dan zet ik gewoon mijn naam ervoor en dan leven we in een Xiao wereld.</p>
                <p>Met dit project heb ik geleerd dat hoe makkelijk de high-fidelity eruitziet hoe anders het design kan zijn. Ik vind het leuk om een ontwerpproces te doorlopen waarbij je zelf onderzoek gaat doen tot een werkend product.</p>
                <p>De eerste opdracht was om de interface te ontwerpen op basis van theorie en bevindingen. Zoals het testen met gebruikers. De tweede opdracht was om het werkend te krijgen met HTML CSS en JavaScript. Dit project is een vervolg van de Xiaocola opdracht. De opdracht werd uitgebreider en heb meer JavaScript moeten schrijven. Wel heb ik nog veel te leren met het onderwerp ‘parameters’.</p>
            </section>
        </div>
    </main>
    <%- include('../partials/footer-single'); %>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>