<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/#work"><h1>Xiaocola</h1></a>
            <section class="slider">
                <a id="head-img-1" href="img/w-xiaocola.jpg" target="_blank"><img class="head-foto" src="img/w-xiaocola.jpg" alt="Xiaocola"></a>
                <a id="head-img-2" href="img/w-xiaocola-2.jpg" target="_blank"><img class="head-foto" src="img/w-xiaocola-2.jpg" alt="Xiaocola"></a>
                <a id="head-img-3" href="img/w-xiaocola-3.jpg" target="_blank"><img class="head-foto" src="img/w-xiaocola-3.jpg" alt="Xiaocola"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-xiaocola.jpg" alt="Xiaocola">
                    <img id="img-btn-2" src="img/w-xiaocola-2.jpg" alt="Xiaocola">
                    <img id="img-btn-3" src="img/w-xiaocola-3.jpg" alt="Xiaocola">
                </div>
            </section>
            <section class="alert">
                <h2>Live demo wordt gezien als mobiele gebruiker</h2>
                <a href="https://oege.ie.hva.nl/~polsxn/xiaocola-finale/" target="_blank">Open Live Demo</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Interactieve interface programmeren</p>
                <h3>Doel</h5>
                <p>Product werkend maken met JavaScript</p>
                <h3>Programma's</h5>
                <ul>
                    <li>JavaScript</li>
                    <li>Html Css</li>
                    <li>Adobe XD</li>
                    <li>Illustrator</li>
                    <li>After Affects</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Met dit project heb ik geleerd hoe je moet werken met JavaScript. Ik heb een Xiaocola customizer gemaakt waarbij gebruikers hun eigen Xiaocola reep kunnen maken door smaak, vulling en topping. Voor mij was het een uitdaging om hieraan te werken. Want ik had nog nooit eerder gewerkt met JavaScript. Sinds het MBO had ik al een idee voor Xiaocola als onderneming. Dan was het nu nog de taak om er iets voor te ontwerpen. Ik vond dit leuk om dit te pitchen want er is bijna niets uniekers dan deze naam.</p>
                <p>Dit was mijn eerste project waar ik JavaScript ging toegepast. Voor in de toekomst hoop ik om mijn JavaScript skills uit te kunnen breiden zodat ik een goede start heb als junior front-end developer.</p>
            </section>
        </div>
    </main>
    <%- include('../partials/footer-single'); %>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>