<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head'); %>
<body class="body-mywork">
    <%- include('../partials/sticky-header-2'); %>
    <%- include('../partials/mobile-nav'); %>
    <main class="main-mywork">
        <div>
            <a class="detail-title" href="/"> <h1>Yuan Hotpot</h1></a>
            <section class="slider">
                <a id="head-img-1" href="img/w-yuan.jpg" target="_blank"><img class="head-foto" src="img/w-yuan.jpg" alt="Yuan Hotpot"></a>
                <a id="head-img-2" href="https://github.com/xiaonanpols21/FVD" target="_blank"><img class="head-foto" src="img/w-yuan-2.jpg" alt="Yuan Hotpot"></a>
                <a id="head-img-3" href="https://github.com/xiaonanpols21/FVD/blob/main/index.html" target="_blank"><img class="head-foto" src="img/w-yuan-3.jpg" alt="Yuan Hotpot"></a>
                
                <div>
                    <img id="img-btn-1" src="img/w-yuan.jpg" alt="Yuan Hotpot">
                    <img id="img-btn-2" src="img/w-yuan-2.jpg" alt="Yuan Hotpot">
                    <img id="img-btn-3" src="img/w-yuan-3.jpg" alt="Yuan Hotpot">
                </div>
            </section>
            <section class="alert">
                <h2>Kijk graag naar de Html en Css</h2>
                <a href="https://xiaonanpols21.github.io/FVD/" target="_blank">Open Live Demo</a>
            </section>
            <article class="work-intro">
                <h3>Opdracht</h3>
                <p>Bestaande website verbeteren</p>
                <h3>Doel</h5>
                <p>Internetstandaarden kennis verbeteren</p>
                <h3>Programma's</h5>
                <ul>
                    <li>Html Css</li>
                    <li>JavaScript</li>
                </ul>
            </article>
            <section class="wat-gedaan">
                <h2>Wat heb ik gedaan?</h2>
                <p>Ik heb de website van Yuan Hotpot verbeterd op basis van de Internetstandaarden. Dit project is een vervolg van de <a href="/bts">BTS</a> date project waarbij ik meer ging letten op de internetstandaarden. Hierbij heb ik geen classes gebruikt (alleen de buitenste sections) en zo min mogelijk divs. Ik koos voor Yuan Hotpot omdat ik houd van Aziatisch eten. Ik ben zelf naar Yuan Hotpot geweest in Amsterdam.</p>
                <p>Met dit project heb ik geleerd wat je allemaal kan met CSS zoals de pseudo classes. Ik heb nog meer geleerd over hoe je semantische HTML maakt en nette CSS dan wat ik al leerde bij de BTS Date opdracht. Door deze technieken te leren, heb ik het kunnen toepassen op mijn andere projecten.</p>
            </section>
        </div>
    </main>
    <%- include('../partials/footer-single'); %>
    <script src="https://kit.fontawesome.com/c24c386355.js" crossorigin="anonymous"></script>
    <script src="js/detail.js"></script>
</body>
</html>